// app global css in SCSS form
@each $size in 8, 10, 11, 12, 13, 14, 16, 18, 20, 22, 24, 26, 28 {
  .fs-#{$size} {
    font-size: $size + px;
  }
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.sdy-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}