// app global css in SCSS form
@use "./normalize.scss";
@use "swiper/scss";
@use "vant/lib/index.css";
@use "vue3-marquee/dist/style.css";

html, body {
  height: 100%;
}
body {
  overflow: hidden;
  background: var(--body-bg);
}

#q-app {
  height: 100%;
  @include overflow();
  @each $size in 8, 10, 11, 12, 13, 14, 16, 18, 20, 22, 24, 26, 28 {
    .fs-#{$size} {
      font-size: $size + px;
    }
  }
  @each $weight in 400 500 600 700 {
    .fw-#{$weight} {
      font-weight: $weight;
    }
  }
  @each $i in 4, 10, 14, 15, 16, 20 {
    .mlr-#{$i} {
      margin: 0 $i + px;
    }
    .mt-#{$i} {
      margin-top: $i + px;
    }
    .mb-#{$i} {
      margin-bottom: $i + px;
    }
    .ml-#{$i} {
      margin-left: $i + px;
    }
    .mr-#{$i} {
      margin-right: $i + px;
    }
    .plr-#{$i} {
      padding: 0 $i + px;
    }
  }
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.sdy-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.sdy-btn {
  padding: 0 22px;
  height: 26px;
  line-height: 26px;
  background: var(--lg2);
  border-radius: 13px;
  text-align: center;
  color: var(--t5);
  font-size: 13px;
}

body {
  .mobileCaptcha {
    position: relative;
    .qrCodeBtn {
      position: absolute;
      right: 20px;
      top: 0;
      height: var(--login-input-height);
      line-height: var(--login-input-height);
      background: none!important;
      padding: 0;
      &.btn-disabled {
        pointer-events: none;
        opacity: .5;
      }
      &::before {
        display: none;
      }
      .block {
        color: var(--theme-text-color);
        line-height: var(--login-input-height);
        font-size: 13px;
      }
    }
  }
}
