body {
  // 字体颜色
  --t1: #323232;
  --t2: #6A7391;
  --lg: linear-gradient(90deg, #33D6FC 0%, #127DFE 100%);
  --theme-color: #23A8FF;
  --theme-text-color: #23A8FF;
  --download-bar-close-color: #fff;
  --download-bar-height: 80px;
  --download-bar-text-color: #fff;
  --download-bar-btn-bg: linear-gradient(180deg, #FFFFFF 0%, #D3DCE6 100%);
  --download-bar-bg: linear-gradient(135deg, #35C1E1 0%, #227BE6 100%);
  --body-bg: #F1F2F8;
  --footer-bg: #fff;
  --footer-text-color: #ADB2C8;
  --footer-border-radius: 16px 16px 0 0;
  --side-bar-bg: #fff;
  --border-color: #F8F8F8;
  --header-bg: #fff;
}
.q-page, .q-page-container, .pro-layout, .help-center-item-box {
  background-color: var(--body-bg)
}
