body {
  .download-bar {
    .bg {
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: url('site_images/download-bar-bg.png') no-repeat center center;
      background-size: cover;
      opacity: .4;
      z-index: -1;
    }
  }
}